
.bubbles-massage-sender{
    margin: 0px 10px 1px 10px;
    background-color: rgb(255, 255, 255);
    border: solid 2px #48c6ef;
    color: black;
    word-wrap: initial;
    border-radius: 0px 12px 12px 12px;
    
}

.bubbles-massage-me{
    margin: 0px 10px 1px 10px;
    background-image: linear-gradient(to right, #6f87d6 , #48c6ef);
    border: solid 1px rgb(255, 255, 255);
    color: white;
    word-wrap: initial;
    border-radius: 12px 0px 12px 12px;
}

.bubbles-me{
    position: relative; float: right; margin-left: auto;  margin-right: 0;
    max-width: 70%;
}

.bubbles-sender{
    position: relative; float: left; margin-left: 0;  margin-right: auto;
    max-width: 70%;
}