<mat-spinner color="accent" *ngIf="userProfile.name == ''"></mat-spinner>
<div *ngIf="userProfile.name != ''">
  <div class="box">
    <div class="columns">
      <div class="column mr-5">
        <h2>Biography</h2>
        <p class="has-text-justified">
          {{ userProfile.biography }}
        </p>
      </div>
      <div class="column is-5 ml-5">
        <h2>Basic informations</h2>
        <div class="personal-info">
          <span>
            <mat-icon>date_range</mat-icon>
            <strong class="info-text">{{
              userProfile.birthDate | date: "longDate"
            }}</strong>
          </span>
        </div>
        <div class="personal-info">
          <span>
            <mat-icon>email</mat-icon>
            <strong class="info-text">{{ userProfile.email }}</strong>
          </span>
        </div>
        <div class="personal-info">
          <span>
            <mat-icon>phone</mat-icon>
            <strong class="info-text">{{ userProfile.phoneNumber }}</strong>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-7">
      <div class="box stretch-height">
        <h2>Experience</h2>
        <mat-list>
          <div mat-subheader>Work</div>

          <mat-list-item *ngFor="let experience of workExperiences">
            <mat-icon mat-list-icon>work_outline</mat-icon>
            <div mat-line>{{ experience.name }}</div>
            <div mat-line class="experienceDescription">
              {{ experience.description }}
            </div>
            <div mat-line>
              {{ experience.startDate | date: "YYYY" }}-{{
                experience.endDate | date: "YYYY"
              }}
            </div>
          </mat-list-item>

          <div class="ml-3 mb-5" *ngIf="workExperiences.length == 0">
            No work experiences to show.
          </div>

          <mat-divider></mat-divider>
          <div mat-subheader>Education</div>
          <mat-list-item *ngFor="let experience of educationExperiences">
            <mat-icon mat-list-icon>school</mat-icon>
            <div mat-line>{{ experience.name }}</div>
            <div mat-line class="experienceDescription">
              {{ experience.description }}
            </div>
            <div mat-line>
              {{ experience.startDate | date: "YYYY" }}-{{
                experience.endDate | date: "YYYY"
              }}
            </div>
          </mat-list-item>

          <div class="ml-3 mb-5" *ngIf="educationExperiences.length == 0">
            No education to show.
          </div>
        </mat-list>
      </div>
    </div>
    <div class="column">
      <div class="box stretch-height">
        <h2>Skills and Interests</h2>
        <mat-chip-list>
          <mat-chip
            color="primary"
            selected
            disableRipple="true"
            *ngFor="let skill of userProfile.skills"
            >{{ skill.name }}</mat-chip
          >
        </mat-chip-list>
        <div class="ml-3 mb-5" *ngIf="userProfile.skills.length == 0">
          No skills to show.
        </div>
      </div>
    </div>
  </div>

  <div class="is-flex is-justify-content-space-between is-align-items-center">
    <h2 class="mt-5">Activity</h2>
    <button
      mat-icon-button
      class="mr-3 mt-3"
      [matMenuTriggerFor]="search"
      (click)="resetSearch()"
    >
      <mat-icon matBadgeColor="warn">search</mat-icon>
    </button>
    <mat-menu #search="matMenu" class="mt-2">
      <div class="search-menu" (click)="$event.stopPropagation()">
        <mat-form-field
          appearance="standard"
          (click)="$event.stopPropagation()"
        >
          <input
            matInput
            placeholder="Search profile posts"
            [(ngModel)]="searchText"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="resetSearch()"
            matTooltip="Reset search"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </mat-menu>
  </div>
  <mat-divider class="mb-5"></mat-divider>

  <div
    class="stretch-width is-flex is-flex-direction-column is-align-items-center my-5"
  >
    <post-display></post-display>
    <post-display></post-display>
  </div>
</div>
