.profile-photo {
  margin-top: -80px;
  margin-left: 20px;
  border: 5px solid white;
  border-radius: 100px;
  background-color: white;
  width: min-content;
}

.connect-button mat-icon {
  color: rgb(54, 54, 54) !important;
  margin-right: 10px;
}

.connections-tag {
  margin-right: 0px !important;
}

.personal-info {
  margin-bottom: 10px;
}

.personal-info .info-text {
  position: relative;
  top: -8px;
  margin-bottom: 0px;
  margin-left: 15px;
}

.search-menu {
  margin: 0px 10px;
  padding: 0px;
  overflow-y: hidden;
}

#search {
  overflow-y: hidden;
  width: 200px;
}

.mat-form-field {
  margin-bottom: -20px !important;
  margin-top: -18px !important;
  padding: 5px;
  width: 100%;
}

.search-menu button {
  top: 5px !important;
}

.experienceDescription {
  font-size: 0.7rem !important;
  white-space: normal !important;
}
