<mat-card class="suggestion-container clickable" (click)="redirect()">
  <mat-card-header>
    <div mat-card-avatar>
      <ngx-avatar name="Zack Fair" size="40"></ngx-avatar>
    </div>
    <mat-card-title
      ><span
        ><strong>Zack Fair</strong> | Angular Developer @ShinRa</span
      ></mat-card-title
    >
    <mat-card-subtitle><span>1st connection</span></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <hr class="mt-5" />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam molestie
      libero nunc, ac elementum mauris rutrum at. Praesent at est porttitor,
      dignissim nisl quis, dictum enim. Fusce at consequat massa. Etiam
      ullamcorper mi et magna scelerisque efficitur. Maecenas eros libero,
      consectetur et nisi nec, luctus sagittis odio. Maecenas placerat commodo
      eros, sit amet luctus nibh dapibus eget. Morbi at dui nibh. Aliquam
      vulputate erat in massa commodo rhoncus. Praesent viverra orci velit, sed
      gravida augue tempus id. Maecenas.
    </p></mat-card-content
  >
  <div class="is-flex is-flex-direction-row stretch-width px-5">
    <span>
      <mat-chip-list>
        <mat-chip color="primary" selected disableRipple="true"
          >Spring Boot</mat-chip
        >
        <mat-chip color="primary" selected disableRipple="true">Java</mat-chip>
        <mat-chip color="primary" selected disableRipple="true"
          >C#</mat-chip
        ></mat-chip-list
      >
    </span>
  </div>
</mat-card>
