<div class="dialog-container">
  <div class="is-flex is-flex-direction-row">
    <profile-picture class="mt-3" [activeUser]="true"></profile-picture>
    <mat-form-field class="ml-5" appearance="outline" color="accent">
      <mat-label>Write a post</mat-label>
      <textarea
        matInput
        placeholder="Tell us about your day..."
        [(ngModel)]="post.content"
      ></textarea>
    </mat-form-field>
  </div>
  <hr />
  <div
    class="is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center"
  >
    <button
      mat-icon-button
      color="warn"
      matTooltip="Remove image"
      (click)="removeImage()"
    >
      <mat-icon>cancel</mat-icon>
    </button>
    <div class="file is-info">
      <label class="file-label">
        <input
          class="file-input"
          type="file"
          id="inp"
          (change)="handleFileInput($any($event).target.files)"
        />
        <span class="file-cta">
          <mat-icon>image</mat-icon>
        </span>
        <span class="file-name" *ngIf="fileToUpload != null">
          {{ fileToUpload.name }}
        </span>
      </label>
    </div>

    <div class="stretch-width"></div>

    <button
      mat-flat-button
      color="accent"
      [disabled]="post.content == ''"
      (click)="publishPost()"
    >
      Post
    </button>
  </div>
</div>
