<div
  class="is-flex is-flex-direction-column stretch-width is-align-items-center"
>
  <div class="stretch-width">
    <single-job-offer></single-job-offer>
    <single-job-offer></single-job-offer>
    <single-job-offer></single-job-offer>
    <single-job-offer></single-job-offer>
    <single-job-offer></single-job-offer>
  </div>

  <div>
    <button
      mat-flat-button
      color="primary"
      class="shadow-hover"
      (click)="redirectJobOffers()"
    >
      See more
    </button>
  </div>
</div>
