<mat-card class="mb-5">
  <div class="is-flex is-flex-direction-row">
    <ngx-avatar name="Lady Gaga"></ngx-avatar>
    <div class="is-flex is-flex-direction-column ml-5">
      <p><strong>Lady Gaga</strong> | 18/06/2022, 10:39 AM</p>
      <p>
        Etiam nec dui non odio egestas lacinia. Cras finibus tincidunt diam,
        vitae suscipit diam iaculis ut. Sed ut accumsan metus. Vestibulum cursus
        elit a sapien tincidunt, non blandit ligula posuere.
      </p>
    </div>
  </div>
</mat-card>
