<mat-card class="suggestion-container clickable" (click)="redirect()">
  <mat-card-header>
    <div mat-card-avatar>
      <ngx-avatar name="Miki Miki" size="40"></ngx-avatar>
    </div>
    <mat-card-title
      ><span><strong>Miki Miki</strong></span></mat-card-title
    >
    <mat-card-subtitle
      ><span>Java Developer @Microsoft</span></mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <hr class="mt-5" />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam molestie
      libero nunc, ac elementum mauris rutrum at. Praesent at est porttitor,
      dignissim nisl quis, dictum enim. Fusce at consequat massa. Etiam
      ullamcorper mi et magna scelerisque efficitur.
    </p></mat-card-content
  >
  <div
    class="is-flex is-flex-direction-row stretch-width is-justify-content-space-between px-5"
  >
    <span>
      <mat-chip-list>
        <mat-chip color="primary" selected disableRipple="true"
          >Spring Boot</mat-chip
        >
        <mat-chip color="primary" selected disableRipple="true">Java</mat-chip>
        <mat-chip color="primary" selected disableRipple="true"
          >C#</mat-chip
        ></mat-chip-list
      >
    </span>
  </div>
</mat-card>
