<mat-card class="suggestion-container clickable" (click)="redirect()">
  <mat-card-header>
    <div mat-card-avatar>
      <profile-picture
        [connection]="connectionDetails"
        [size]="40"
      ></profile-picture>
    </div>
    <mat-card-title
      ><span
        >{{ connectionDetails.Name }} {{ connectionDetails.Surname }}</span
      ></mat-card-title
    >
    <mat-card-subtitle
      ><span>@{{ connectionDetails.Username }}</span></mat-card-subtitle
    >
  </mat-card-header>
</mat-card>
