<div class="columns">
  <div class="column">
    <div
      class="stretch-width is-flex is-flex-direction-column post-column"
      *ngIf="post.content != ''"
    >
      <detailed-post-display [post]="post"></detailed-post-display>
      <write-comment
        [post]="post"
        (refresh)="refreshComments()"
      ></write-comment>
      <h2>Comments ({{ comments.length }})</h2>
      <mat-divider class="mb-5"></mat-divider>
      <p *ngIf="comments.length == 0">No comments yet.</p>
      <div *ngFor="let comment of comments">
        <comment-preview [comment]="comment"></comment-preview>
      </div>
    </div>
  </div>
  <div class="column is-4 side-column">
    <sidebar-right></sidebar-right>
  </div>
</div>
