<h1>Looks like you are on a job hunt! 💼</h1>
<div class="columns">
  <div class="column">
    <h2>We found some neat jobs you might wanna take a look at.</h2>
    <mat-divider></mat-divider>
    <div
      class="stretch-width is-flex is-flex-direction-column is-align-items-center my-5"
    >
      <detailed-job-offer></detailed-job-offer>
      <detailed-job-offer></detailed-job-offer
      ><detailed-job-offer></detailed-job-offer
      ><detailed-job-offer></detailed-job-offer
      ><detailed-job-offer></detailed-job-offer
      ><detailed-job-offer></detailed-job-offer
      ><detailed-job-offer></detailed-job-offer
      ><detailed-job-offer></detailed-job-offer
      ><detailed-job-offer></detailed-job-offer
      ><detailed-job-offer></detailed-job-offer
      ><detailed-job-offer></detailed-job-offer
      ><detailed-job-offer></detailed-job-offer>
      <detailed-job-offer></detailed-job-offer>
      <detailed-job-offer></detailed-job-offer>
      <detailed-job-offer></detailed-job-offer>
      <detailed-job-offer></detailed-job-offer>
      <detailed-job-offer></detailed-job-offer>
      <detailed-job-offer></detailed-job-offer>
    </div>
  </div>
  <div class="column is-4 side-column">
    <h2>People you might know</h2>
    <mat-divider class="mb-5"></mat-divider>
    <suggested-connections></suggested-connections>
  </div>
</div>
