<div class="pt-5 mt-5 is-flex is-flex-direction-column is-align-items-center">
  <img src="./../assets/Dislinkt-logo-transparent.png" width="100" />
  <h1 class="my-5">Welcome to Dislinkt!</h1>
  <p>Where your connections come to life.</p>
  <p>Here are the theming colors bellow. 😃 Delete this later.</p>

  <div class="mt-5 is-flex">
    <button mat-raised-button class="ml-2">Basic</button>
    <button mat-raised-button class="ml-2" color="primary">Primary</button>
    <button mat-raised-button class="ml-2" color="accent">Accent</button>
    <button mat-raised-button class="ml-2" color="warn">Warn</button>
    <button mat-raised-button class="ml-2" disabled>Disabled</button>
    <a
      mat-raised-button
      href="https://www.google.com/"
      target="_blank"
      class="ml-2"
      >Link</a
    >
  </div>
</div>
