mat-drawer {
  border: none;
}

mat-drawer-content {
  background-color: #f3f5f7 !important;
}

.content-container {
  margin-right: 70px;
  margin-top: 30px;
  margin-left: 90px;
  max-width: 1200px;
  width: 100%;
}
