<h1>Hello, {{ loginRespons.username }}! 👋</h1>
<div class="columns">
  <div class="column">
    <h2>
      Welcome to the feed. Here you can see the newest updates from your
      connections.
    </h2>
    <mat-divider></mat-divider>
    <div
      class="stretch-width is-flex is-flex-direction-column is-align-items-center my-5"
    >
      <p *ngIf="posts.length == 0">No posts to show.</p>
      <div *ngFor="let post of posts">
        <post-display [post]="post"></post-display>
      </div>
    </div>
  </div>
  <div class="column is-4 side-column">
    <sidebar-right></sidebar-right>
  </div>
</div>
