<div class="columns">
  <div class="column">
    <div class="stretch-width box">
      <div class="cover-image"></div>
      <div class="profile-photo">
        <ngx-avatar name="John Smith" size="120"></ngx-avatar>
      </div>

      <div class="mt-5 is-flex is-flex-direction-row">
        <div class="stretch-width">
          <h1>John Smith</h1>
          <h2>Apple Senior Java Developer | @johny_smith</h2>
        </div>
        <div
          class="is-flex is-flex-direction-column is-justify-content-flex-start is-align-items-end"
        >
          <div
            class="tag is-primary is-medium connections-tag clickable"
            (click)="redirectConnections()"
          >
            148 connections
          </div>
          <div>
            <button mat-flat-button color="primary" class="connect-button mt-3">
              <mat-icon>person_add</mat-icon>
              <strong>CONNECT</strong>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="column is-4 side-column">
    <h2>People you might know</h2>
    <mat-divider class="mb-5"></mat-divider>
    <suggested-connections></suggested-connections>

    <h2 class="mt-5 pt-5">Jobs for you</h2>
    <mat-divider class="mb-5"></mat-divider>
    <suggested-job-offers></suggested-job-offers>
  </div>
</div>
