<mat-card class="job-container clickable" (click)="redirect()">
  <mat-card-header>
    <div mat-card-avatar>
      <profile-picture [jobOffer]="offer" [size]="40"></profile-picture>
    </div>
    <mat-card-title
      ><span>{{ offer.position }}</span></mat-card-title
    >
    <mat-card-subtitle
      ><span>@{{ offer.companyName }}</span></mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content class="mt-4">
    <span
      class="tag is-primary mt-2"
      *ngFor="let technology of offer.technologies"
      >{{ technology }}</span
    >
  </mat-card-content>
</mat-card>
