<div class="columns">
    <div class="column">

        <mat-card class="editSectionCss">
            <div class="columns">
                <div class="column is-10">
                    <mat-card-header>
                        <div mat-card-avatar style="margin-right: 90px; margin-left: 14px; margin-bottom: 80px;">
                          <ngx-avatar name="{{myProfile.name}} {{myProfile.surname}}" size="120"></ngx-avatar>
                        </div>
                        <mat-card-title style="margin-top: 20px;" 
                          ><span><h1><strong>{{myProfile.name}} {{myProfile.surname}}</strong></h1></span>
                        </mat-card-title>
                        <mat-card-subtitle><h2><span>{{myProfile.email}}</span></h2></mat-card-subtitle>
                      </mat-card-header>
                </div>
                <div class="column is-2">
                    <button style="margin-left: 5px;" *ngIf="!changeProfileFormEditable" (click)="startChangeProfile()" class="button is-danger is-outlined">change</button>
                </div>
            </div>
            <mat-card-content>
              <hr class="mt-5" />

                <!-- profile -->
                <div class="columns">
                    <div class="column is-3"></div>
                    <div class="column is-6">
                      <div class="field">
                          <label class="label">Name</label>
                          <div class="control">
                            <input class="input" [disabled]="!changeProfileFormEditable" [(ngModel)]="myProfile.name" type="text" placeholder="Your name"> <!-- [(ngModel)]="registrationModel.surname" -->
                          </div>
                        </div>
                        
                        <div class="field">
                          <label class="label">Surname </label>
                          <div class="control">
                            <input class="input" [disabled]="!changeProfileFormEditable" [(ngModel)]="myProfile.surname" type="text" placeholder="Your Surname"> 
                          </div>
                        </div>

                        <div class="field">
                          <label class="label">Phone number</label>
                          <div class="control">
                            <input class="input" [disabled]="!changeProfileFormEditable" [(ngModel)]="myProfile.phoneNumber" type="text" placeholder="Your phone number">
                          </div>
                        </div>

                        <div class="field" style="width: 50%;">
                          <label class="label">Birthday</label>
                          <div class="control">
                            <input class="input" [disabled]="!changeProfileFormEditable" [(ngModel)]="myProfile.birthDate" type="date">
                          </div>
                        </div>

                        <div class="field">
                          <div class="control">
                            <label class="label">Gender</label>
                            <label class="radio">
                              <input type="radio" [disabled]="!changeProfileFormEditable" name="question" [checked]="myProfile.gender==='Male'" (click)="myProfile.gender='Male'"> 
                              male 
                            </label> <br>
                            <label class="radio">
                              <input type="radio" [disabled]="!changeProfileFormEditable" name="question" [checked]="myProfile.gender==='Female'" (click)="myProfile.gender='Female'">
                              female 
                            </label>
                          </div>
                        </div> <br> <br>

                        <div class="field">
                          <div class="control">
                            <label class="checkbox">
                              <input type="checkbox" [disabled]="!changeProfileFormEditable" [(ngModel)]="myProfile.isPrivate">
                              Private dislinkt account
                            </label>
                          </div>
                        </div>

                        <div *ngIf="changeProfileFormEditable" class="is-flex is-justify-content-center mt-5">
                            <button (click)="cancelChangeProfile()" class="button is-danger m-2">Cancel</button>
                            <button (click)="changeProfile()" class="button is-success m-2">Change</button>
                        </div>
                               
                    </div>
                    <div class="column is-3"></div>
                  </div>  
              </mat-card-content>
          </mat-card>

          <!-- edit username -->
          <mat-card class="editSectionCss">
            <div class="columns">
                <div class="column is-10">
                    <mat-card-header>
                        <mat-card-title>Change Your Username <strong>{{myProfile.username}}</strong> </mat-card-title>
                    </mat-card-header>
                </div>
                <div class="column is-2">
                    <button style="margin-left: 5px;" *ngIf="!changeUsernameFormVisible" (click)="startChangeUsername()" class="button is-danger is-outlined">change</button>
                </div>
            </div>
            <mat-card-content>
                <div *ngIf="changeUsernameFormVisible" class="mt-5 mb-5">
                    <hr/>
                    <div class="columns">
                        <div class="column is-3"></div>
                        <div class="column is-6">
                            <div class="field">
                                <label class="label">Username</label>
                                <div class="control">
                                <input class="input" [(ngModel)]="newUsername" type="text" placeholder="Your unique username">
                                </div>
                            </div>
                            <div class="is-flex is-justify-content-center mt-5">
                                <button (click)="cancelChangeUsername()" class="button is-danger m-2">Cancel</button>
                                <button (click)="changeUsername()" class="button is-success m-2">Change</button>
                            </div>
                        </div>
                        <div class="column is-3"></div>
                    </div>
                </div>
              </mat-card-content>
          </mat-card>

           <!-- edit email -->
           <mat-card class="editSectionCss">
            <div class="columns">
                <div class="column is-10">
                    <mat-card-header>
                        <mat-card-title>Change Your Email <strong>{{myProfile.email}}</strong> </mat-card-title>
                    </mat-card-header>
                </div>
                <div class="column is-2">
                    <button style="margin-left: 5px;" *ngIf="!changeEmailFormVisible" (click)="startChangeEmail()" class="button is-danger is-outlined">change</button>
                </div>
            </div>
            <mat-card-content>
                <div *ngIf="changeEmailFormVisible" class="mt-5 mb-5">
                    <hr/>
                    <div class="columns">
                        <div class="column is-3"></div>
                        <div class="column is-6">
                            <div class="field">
                                <label class="label">Email</label>
                                <div class="control">
                                  <input class="input" [(ngModel)]="newEmail" type="text" placeholder="Your email">
                                </div>
                            </div>
                            <div class="is-flex is-justify-content-center mt-5">
                                <button (click)="cancelChangeEmail()" class="button is-danger m-2">Cancel</button>
                                <button (click)="changeEmail()" class="button is-success m-2">Change</button>
                            </div>
                        </div>
                        <div class="column is-3"></div>
                    </div>
                </div>
              </mat-card-content>
          </mat-card>

           <!-- edit pass -->
           <mat-card class="editSectionCss">
            <div class="columns">
                <div class="column is-10">
                    <mat-card-header>
                        <mat-card-title>Change Your Password</mat-card-title>
                    </mat-card-header>
                </div>
                <div class="column is-2">
                    <button style="margin-left: 5px;" *ngIf="!changePasswordFormVisible" (click)="startChangePassword()" class="button is-danger is-outlined">change</button>
                </div>
            </div>
            <mat-card-content>
                <div *ngIf="changePasswordFormVisible" class="mt-1 mb-5">
                    <hr/>
                    <div class="columns">
                        <div class="column is-3"></div>
                        <div class="column is-6">
                            
                            <div class="field">
                                <label class="label">Old Password</label>
                                <div class="control">
                                  <input class="input" [(ngModel)]="changePasswordRequest.oldPassword" type="password" placeholder="Old password">
                                </div>
                              </div>

                            <div class="field">
                              <label class="label">New Password</label>
                              <div class="control ">
                            
                                <p class="control has-icons-right">
                                  <input class="input" [(ngModel)]="changePasswordRequest.newPassword" type="password" placeholder="New password">
                                  <span class="icon is-small is-right">
                                    <mat-icon *ngIf="changePasswordRequest.passwordStrength()[1]" style="color: rgba(60, 255, 0, 0.812);">check_circle_outline</mat-icon>    
                                    <mat-icon *ngIf="!changePasswordRequest.passwordStrength()[1]" style="color: red;">cancel</mat-icon>
                                  </span>
                                </p>
                                <p [ngClass]="changePasswordRequest.passwordStrength()[1] ? 'has-text-success' : 'has-text-danger'">{{changePasswordRequest.passwordStrength()[0]}}</p>
                              </div>
                            </div>

                            <div class="field">
                              <label class="label ">Confirm Password</label>
                              <div class="control">
                                <input class="input" [(ngModel)]="changePasswordRequest.confirmNewPassword" type="password" placeholder="Confirm password" [class.is-danger] = "!changePasswordRequest.passwordMatch()">
                                <p *ngIf="!changePasswordRequest.passwordMatch()" class="has-text-danger">Password did not match</p>
                              </div>
                            </div>

                            <div class="is-flex is-justify-content-center mt-5">
                                <button (click)="cancelChangePassword()" class="button is-danger m-2">Cancel</button>
                                <button (click)="changePassword()" class="button is-success m-2">Change</button>
                            </div>

                        </div>
                        <div class="column is-3"></div>
                    </div>
                </div>
              </mat-card-content>
          </mat-card>

    </div>
  </div>
  