<mat-spinner *ngIf="!loaded" color="accent"></mat-spinner>
<mat-card class="post-container" *ngIf="loaded">
  <mat-card-header>
    <div mat-card-avatar>
      <profile-picture [post]="post" [size]="40"></profile-picture>
    </div>
    <mat-card-title
      class="clickable"
      (click)="redirectAuthorProfile()"
      matTooltip="User profile"
      >{{ post.owner.name }} {{ post.owner.surname }}</mat-card-title
    >
    <mat-card-subtitle>{{ post.timestamp | date: "medium" }}</mat-card-subtitle>
  </mat-card-header>
  <div
    class="image-container clickable"
    (click)="openImageLightbox()"
    *ngIf="imagePath != null"
  >
    <img [src]="imagePath" />
  </div>
  <mat-card-content class="mt-4">
    <p>
      {{ post.content }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div
      class="is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center"
    >
      <div>
        <div *ngIf="loggedInUser">
          <button
            mat-icon-button
            matTooltip="Like"
            (click)="likePost()"
            *ngIf="!likedByUser"
          >
            <mat-icon>thumb_up</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Remove Like"
            (click)="unlikePost()"
            *ngIf="likedByUser"
          >
            <mat-icon class="green">thumb_up</mat-icon>
          </button>

          <button
            mat-icon-button
            matTooltip="Dislike"
            *ngIf="!dislikedByUser"
            (click)="dislikePost()"
          >
            <mat-icon>thumb_down</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Remove Dislike"
            *ngIf="dislikedByUser"
            (click)="undislikePost()"
          >
            <mat-icon class="red">thumb_down</mat-icon>
          </button>
        </div>
      </div>

      <div class="mr-5">
        <strong>{{ likesCount }}</strong> like<span *ngIf="likesCount != 1"
          >s</span
        >
      </div>
    </div>
  </mat-card-actions>
</mat-card>
