mat-card {
  margin-bottom: 20px !important;
  width: 100%;
}

mat-card-header {
  margin-left: 0px !important;
}

.image-container {
  margin-left: -16px;
  margin-right: -16px;
  width: calc(100% + 32px);
  max-height: 600px;
  overflow: hidden !important;

  text-align: center;
}

.image-container img {
  width: 100%;
  margin: auto;
}

.vertical-separator {
  margin: auto 10px;
}
