.contact-panel-css{
    background-color: white;
    box-shadow: 10px;

}

.contact-list-css{
    max-height: 700px;
    overflow: auto;
    border: solid 1px;
    border-color: rgb(228, 228, 228);
    margin: 0px 0px -12px -20px;
}