<div class="columns box">
    <div class="column is-4 side-column contact-panel-css">
        <div class="has-text-centered">
            <h2>Your Messages</h2>
        </div>
        <div class="contact-list-css">
            <single-contact></single-contact>
            <single-contact></single-contact>
            <single-contact></single-contact>
            <single-contact></single-contact>
            <single-contact></single-contact>
            <single-contact></single-contact>
            <single-contact></single-contact>
            <single-contact></single-contact>
            <single-contact></single-contact>
            <single-contact></single-contact>
            <single-contact></single-contact>
            <single-contact></single-contact>
            <single-contact></single-contact>
            <single-contact></single-contact>
            <single-contact></single-contact>
            <single-contact></single-contact>
            <single-contact></single-contact>
            <single-contact></single-contact>
            <single-contact></single-contact>
            <single-contact></single-contact>
            <single-contact></single-contact>
            <single-contact></single-contact>
            <single-contact></single-contact>
            <single-contact></single-contact>
        </div>
        
    </div>
    <div class="column is-8">
        <chat-dialog></chat-dialog>
    </div>
</div>
