<div class="columns box">
    <div class="column is-4 side-column contact-panel-css">
        <div class="has-text-centered">
            <h2>Your Messages</h2>
        </div>
        <div class="contact-list-css">
            <div *ngFor="let chatPreview of chatPreviews; index as i">
                <single-contact [ngClass]="{'card': chatPreview.userID === chat.userIDb}" (click)="showChat(chatPreview)" [chatPreview]="chatPreview"></single-contact>
            </div>
        </div>
        
    </div>
    <div class="column is-8">
        <chat-dialog [chat]="chat"></chat-dialog>
    </div>
</div>
