<div
  class="is-flex is-flex-direction-column stretch-width is-align-items-center"
>
  <div class="stretch-width">
    <public-account-display></public-account-display>
    <public-account-display></public-account-display>
    <public-account-display></public-account-display>
    <public-account-display></public-account-display>
    <public-account-display></public-account-display>
    <public-account-display></public-account-display>
    <public-account-display></public-account-display>
    <public-account-display></public-account-display>
    <public-account-display></public-account-display>
    <public-account-display></public-account-display>
  </div>
</div>
