<h1>Looking for connections? 👀</h1>
<div class="columns">
  <div class="column">
    <h2>
      Find yourself in other people. Here are some people we think might match
      your style!
    </h2>
    <mat-divider></mat-divider>
    <div
      class="stretch-width is-flex is-flex-direction-column is-align-items-center my-5"
    >
      <div *ngFor="let rec of recommendations">
        <detailed-connection-suggestion
          [connectionDetails]="rec"
        ></detailed-connection-suggestion>
      </div>
    </div>
  </div>
  <div class="column is-4 side-column">
    <h2 class="pt-5">Jobs for you</h2>
    <mat-divider class="mb-5"></mat-divider>
    <suggested-job-offers></suggested-job-offers>
  </div>
</div>
