<mat-card class="suggestion-container clickable" (click)="redirect()">
  <div style="width: 760px"></div>
  <mat-card-header>
    <div mat-card-avatar>
      <profile-picture
        [connection]="connectionDetails"
        [size]="40"
      ></profile-picture>
    </div>
    <mat-card-title
      ><span
        ><strong
          >{{ connectionDetails.Name }} {{ connectionDetails.Surname }}</strong
        >
        | Java Developer @Microsoft</span
      ></mat-card-title
    >
    <mat-card-subtitle
      ><span>@{{ connectionDetails.Username }}</span></mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <hr class="mt-5" />
    <p>
      {{ connectionDetails.Biography }}
    </p></mat-card-content
  >
  <div
    class="is-flex is-flex-direction-row-reverse stretch-width is-justify-content-space-between px-5"
  >
    <div></div>
    <span>
      <mat-chip-list>
        <div *ngFor="let skill of connectionDetails.Skills">
          <mat-chip color="primary" selected disableRipple="true">{{
            skill.name
          }}</mat-chip>
        </div>
      </mat-chip-list>
    </span>
  </div>
</mat-card>
