<div class="p-3 dialog">
  <div class="is-flex is-flex-direction-row is-justify-content-space-between">
    <h2>Select technologies</h2>
    <div>
      <mat-form-field appearance="standard">
        <input
          matInput
          placeholder="Search Dislinkt Agents"
          [(ngModel)]="searchText"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="searchText = ''"
          matTooltip="Reset search"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="technologies">
    <h3>Programming languages</h3>
    <mat-chip-list>
      <span *ngFor="let technology of programingLanguages">
        <div [ngClass]="{ hidden: !isSearched(technology) }">
          <mat-chip
            color="accent"
            (click)="toggleChip(technology)"
            [ngClass]="{ selected: isChipSelected(technology) }"
            >{{ technology }}</mat-chip
          >
        </div>
      </span>
    </mat-chip-list>
    <h3>Frontend development</h3>
    <mat-chip-list>
      <span *ngFor="let technology of frontendDevelopment">
        <div [ngClass]="{ hidden: !isSearched(technology) }">
          <mat-chip
            color="accent"
            (click)="toggleChip(technology)"
            [ngClass]="{ selected: isChipSelected(technology) }"
            >{{ technology }}</mat-chip
          >
        </div>
      </span>
    </mat-chip-list>

    <h3>Backend development</h3>
    <mat-chip-list>
      <span *ngFor="let technology of backendDevelopment">
        <div [ngClass]="{ hidden: !isSearched(technology) }">
          <mat-chip
            color="accent"
            (click)="toggleChip(technology)"
            [ngClass]="{ selected: isChipSelected(technology) }"
            >{{ technology }}</mat-chip
          >
        </div>
      </span>
    </mat-chip-list>

    <h3>Mobile app development</h3>
    <mat-chip-list>
      <span *ngFor="let technology of mobileAppDevelopment">
        <div [ngClass]="{ hidden: !isSearched(technology) }">
          <mat-chip
            color="accent"
            (click)="toggleChip(technology)"
            [ngClass]="{ selected: isChipSelected(technology) }"
            >{{ technology }}</mat-chip
          >
        </div>
      </span>
    </mat-chip-list>

    <h3>AI/ML</h3>
    <mat-chip-list>
      <span *ngFor="let technology of aiMl">
        <div [ngClass]="{ hidden: !isSearched(technology) }">
          <mat-chip
            color="accent"
            (click)="toggleChip(technology)"
            [ngClass]="{ selected: isChipSelected(technology) }"
            >{{ technology }}</mat-chip
          >
        </div>
      </span>
    </mat-chip-list>

    <h3>Database</h3>
    <mat-chip-list>
      <span *ngFor="let technology of database">
        <div [ngClass]="{ hidden: !isSearched(technology) }">
          <mat-chip
            color="accent"
            (click)="toggleChip(technology)"
            [ngClass]="{ selected: isChipSelected(technology) }"
            >{{ technology }}</mat-chip
          >
        </div>
      </span>
    </mat-chip-list>

    <h3>Devops</h3>
    <mat-chip-list>
      <span *ngFor="let technology of devops">
        <mat-chip
          color="accent"
          (click)="toggleChip(technology)"
          [ngClass]="{ selected: isChipSelected(technology) }"
          [ngClass]="{ hidden: !isSearched(technology) }"
          >{{ technology }}</mat-chip
        >
      </span>
    </mat-chip-list>

    <h3>Testing</h3>
    <mat-chip-list>
      <span *ngFor="let technology of testing">
        <div [ngClass]="{ hidden: !isSearched(technology) }">
          <mat-chip
            color="accent"
            (click)="toggleChip(technology)"
            [ngClass]="{ selected: isChipSelected(technology) }"
            >{{ technology }}</mat-chip
          >
        </div>
      </span>
    </mat-chip-list>

    <h3>Game engines</h3>
    <mat-chip-list>
      <span *ngFor="let technology of gameEngines">
        <div [ngClass]="{ hidden: !isSearched(technology) }">
          <mat-chip
            color="accent"
            (click)="toggleChip(technology)"
            [ngClass]="{ selected: isChipSelected(technology) }"
            >{{ technology }}</mat-chip
          >
        </div>
      </span>
    </mat-chip-list>
  </div>

  <div
    class="mt-5 pt-5 is-flex is-flex-direction-row is-justify-content-space-between"
  >
    <button mat-raised-button color="warn" (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()">
      Save changes
    </button>
  </div>
</div>
