<div class="sidebar-container stretch-height">
  <div
    class="stretch-height p-5 is-flex is-flex-direction-column is-align-items-center"
  >
    <div>
      <img src="assets/Dislinkt-logo-no-padding.png" width="80px" />
    </div>
    <h1 class="ml-2 mt-5 mb-5 pb-5">Dislinkt</h1>
    <button
      mat-raised-button
      color="accent"
      class="shadow-hover mt-5"
      (click)="redirectRegister()"
    >
      Register
    </button>
    <button
      mat-raised-button
      color="primary"
      class="shadow-hover mt-5"
      (click)="redirectLogin()"
    >
      Login
    </button>
  </div>
</div>
