<h1>
  Search: <i>{{ searchText }}</i> 🔎
</h1>
<div class="columns">
  <div class="column">
    <mat-spinner *ngIf="!loaded" color="accent"></mat-spinner>
    <div *ngIf="loaded">
      <h2>{{ posts.length }} results found.</h2>
      <mat-divider></mat-divider>
      <div
        class="stretch-width is-flex is-flex-direction-column is-align-items-center my-5"
      >
        <post-display
          class="stretch-width"
          *ngFor="let post of posts"
        ></post-display>
      </div>
    </div>
  </div>
  <div class="column is-5 side-column">
    <h2>Popular public accounts</h2>
    <mat-divider class="mb-5"></mat-divider>
    <public-accounts></public-accounts>
  </div>
</div>
